* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #3498DB;
    --border-color: #BDBDBD;
}

body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    color: white;
    background-color: #222;
    padding: 0.6em 2em;
    width: 100%;
    user-select: none;
    text-align: center;
}

.btn:hover {
    background-color: #333;
}

.styled-container {
    border: 1px solid var(--border-color);
    background-color: white;
}

.round-container {
    border-radius: 0.3em;
}

.circle-container, .circle-button {
    border-radius: 1em;
}

.circle-button {
    border: 1px solid var(--border-color);
    background-color: white;
    padding: 0.3em 0.6em;
    user-select: none;
}

.circle-button:hover {
    background-color: #f5f5f5;
}

.topbar-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}


.topbar-navigation {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#topbar {
    width: 100%;
    height: 5em;
}

#logo {
    width: 260px;
    height: 100%;
}

.topbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.topbar-container a {
    color: black;
    text-decoration: none;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    height: 30px;
}

.search-bar > input {
    color: #546E7A;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    font-size: 14px;
}

.search-bar > input:focus {
    outline: none;
}

.search-bar > input::placeholder {
    color: #78909C;
}

.search-button {
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 4px 14px;
    background-color: white;
    height: 100%;
}

.search-button > i {
    color: var(--main-color);
}