* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.banner {
    background-color: rgb(0, 132, 255);
    height: 380px;
}

#topbar {
    width: 100%;
    height: 5em;
}

#logo {
    width: 300px;
    height: 60px;
    background-color: gray;
}

.topbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.topbar-container a {
    color: black;
    text-decoration: none;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: 30px;
}

.search-bar > input {
    color: #546E7A;
    border: 1px solid #BDBDBD;
    border-radius: 1em;
    background-color: #F5F5F5;
    width: 400px;
    height: 100%;
    padding: 0 1em;
}

.search-bar > input:focus {
    outline: none;
}

.search-bar > input::placeholder {
    color: #78909C;
}

.search-button {
    cursor: pointer;
    border: 1px solid #BDBDBD;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 4px 14px;
    background-color: white;
    position: relative;
    right: 10%;
    height: 100%;
}

.search-button > i {
    color: #00CE6A;
}